<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <title>Help Page</title>
    </head>

    <body>
    {{> header}}
    <p>
            Some of the projects I worked on! 
      </p>
    {{> footer}}
        
    </body>

</html>